*{
    margin: 0;
    padding: 0;
}
.topnav{
    background-color: rgb(19, 71, 212);
    height:50px;
    
}

.head{
  
    padding: 10px;
    color: white;
    font-size: 27px;
    font-family: Arial, Helvetica, sans-serif;
    
}
.available{
    text-align: center;
    
}
.slot{
    margin-top: 20px;
   text-align: center; 
}

.a1{
    
   
    text-align: center;
}
.image{
    margin-top: 50px;
    height: 100px;
    width: 100px;
}
.availability{
    margin-left: 100px;
    font-size: 20px;
    font-weight: 700;
    
}
.result{
    margin-left: 200px;
    font-size: 15px;
    font-weight: 600;
}
.b1{
    margin-top: 10px;
    width: 400px;
    height: 30px;
    background-color: green;
    border: none;
    border-radius: 0 0 10px 10px;
    color: white;
   margin: auto;
   padding: 5px;
}
.b2{
    margin-top: 10px;
    width: 400px;
    height: 30px;
    background-color: rgb(245, 110, 7);
    border: none;
    border-radius: 0 0 10px 10px;
    color: white;
   margin: auto;
   padding: 5px;
}
.b3{
    margin-top: 10px;
    width: 400px;
    height: 30px;
    background-color: rgb(234, 8, 8);
    border: none;
    border-radius: 0 0 10px 10px;
    color: white;
   margin: auto;
   padding: 5px;
}
.b5{
    text-align: center;
    margin-top: 10px;
    width: 400px;
    height: 30px;
    background-color: green;
    border: none;
    border-radius: 0 0 10px 10px;
    color: white;
   margin-left: 80px;
   padding: 5px;
}
.b6{
    text-align: center;
    margin-top: 20px;
    width: 400px;
    height: 30px;
    background-color: green;
    border: none;
    border-radius: 0 0 10px 10px;
    color: white;
   margin-left: 480px;
   padding: 5px;
}
.b7{
    text-align: center;
    margin-top: 30px;
    width: 200px;
    height: 30px;
    background-color: green;
    border: none;
    border-radius: 3px;
    color: white;
   margin-left: 575px;
   padding: 8px;
}
   
.btn-1{
   font-size: 20px;
    color: white;  
    text-decoration: none;
}

/* .btn-1{
    
    margin-top: 10px;
    width: 400px;
    height: 30px;
    background-color: green;
    border: none;
    border-radius: 0 0 10px 10px;
    color: white;
} */
.btn-2{
    font-size: 20px;
    color: white;  
    text-decoration: none;
}
.btn-3{
    font-size: 20px;
    color: white;  
    text-decoration: none;
}
.btn-6{
    font-size: 20px;
    color: white;  
    text-decoration: none;
}
.btn-7{
    font-size: 20px;
    color: white;  
    text-decoration: none;
}
.booking{
    text-align: center;
    margin-top: 10px;
    font-size: 50px;
    
}
.underline{
    width: 100%;
   margin-top: -120px;
}
.show{
    margin-top: -200px;
    height: 200px;
    margin-left: 400px;
}
.slot-chosen{
    margin-left: 300px;
    font-size: 30px;
    font-weight: 600;
}
.slotname{
    color: green;
}
.heading{
    font-size: 25px;
    font-weight: 600;
}
form{
    margin-top: 20px;
}
.cname{
    border: none;
    border-bottom: 2px solid red;
    margin-left: 300px;
    width: 200px;
    font-size: 20px;
    outline: none;

}
.phone{
    border: none;
    border-bottom: 2px solid red;
    margin-left: 407px;
    width: 200px;
    font-size: 20px;
    outline: none; 
}
.etime{
    border: none;
    border-bottom: 2px solid red;
    margin-left: 350px;
    width: 200px;
    font-size: 20px;
    outline: none; 
}
.extime{
    border: none;
    border-bottom: 2px solid red;
    margin-left: 368px;
    width: 200px;
    font-size: 20px;
    outline: none; 
}

.receipt{
    text-align: center;
    font-size: 25px;
    
}
.head-receipt{
    margin-top: 10px;
}
.car-receipt{
    margin-top: 20px;
    height: 250px;
    width: 250px;
}
.slot-res{
    margin-left: 200px;
    font-size: 40px;
    font-weight: 600;
}
.time{
    margin-top: 30px;
    font-size: 30px;
}

.ending-time{
    
    margin-left: 350px;
}
.user{
    margin-top: 30px;
    font-size: 30px;

}
.user-name{
    margin-left: 290px;
}


.parking{
    margin-top: 30px;
    text-align: center;

}
.parking img{
    height: 200px;
    width: 200px;
}
.head-head{
    text-align: center;
    font-size: 40px;
    font-weight: 600;
}
.otp-enter{
    margin-top: 30px;
    text-align: center;
}
.enter-otp{
    font-size: 30px;
    border: none;
    border-bottom: 2px solid black;
}


.dash{
    margin-top: 100px;
    text-align: center;

}
.capture{
    height: 400px;
    width: 500px;
}
.capture1{
    margin-left: 30px;
    height: 400px;
    width: 500px;
}
